:root {
    --primary-text-color: #757575;
    --secondary-text-color: #212121;
    --primary-white-color: #FFFFFF;
    --primary-black-color: #000000;
    --accent-color: #2196F3;
    --secondary-background-color: #2F303A;
    --button-background-color: #F5F4FA;
}
body {
    color: var(--primary-text-color);
    background-color: var(--primary-white-color);
    
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    letter-spacing: 0.03em;
}

.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.list {
    padding: 0;
    margin: 0;
    list-style: none;
    gap: 30px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

h1,
h2,
h3,
p {
    margin-top: 0;
    margin-bottom: 0;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
}

/* Header */
.top {
    border-bottom: 1px solid #ECECEC;
}
.main-nav {
    display: flex;
    align-items: center;
}
.navigation {
    display: flex;
}
.logo {
    padding-top: 24px;
    padding-bottom: 25px;

    color: var(--primary-black-color);
    
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;
}
.logo-decor {
    color: var(--accent-color);
}
.nav-list {
    display: flex;
    margin-left: 93px;
}
.nav-list .item:not(:last-child) {
    margin-right: 50px;
}
.nav-list .link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;

    color: var(--secondary-text-color);
    
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-list .link.current {
    position: relative;

    color: var(--accent-color);
}
.nav-list .link.current::after {
    content: "";
    
    position: absolute;
    left: 0;
    bottom: 0;
    display: block;
    width: 100%;
    height: 4px;

    background: #2196F3;
    border-radius: 2px;
}
.nav-list .link:hover,
.nav-list .link:focus {
    color: var(--accent-color);
}
.contacts-list {
    display: flex;
    margin-left: auto;
}
.contacts-list .item + .item {
    margin-left: 50px;
}
.mail,
.tel {
    display: flex;
    align-items: center;

    color: var(--primary-text-color);
    
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mail:hover,
.tel:hover,
.mail:focus,
.tel:focus {
    color: var(--accent-color);
}
.icon-header {
    fill: currentColor;
    margin-right: 10px;
}

/* Banner */

.banner.section {
    padding-left: 200px;
    padding-right: 200px;
}
.banner {
    max-width: 1600px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    padding: 200px 452px;

    background-image: url(../images/img-overlay.png), url(../images/banner.jpg);
    background-color: var(--secondary-background-color);
    background-repeat: no-repeat;
    background-position: center;

    text-align: center;
}
.banner-title {
    margin-bottom: 30px;

    color: var(--primary-white-color);
    
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}
.banner-button {
    display: inline-block;
    padding: 10px 32px;
    min-width: 216px;
    border-radius: 4px;
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

    color: var(--primary-white-color);
    background-color: var(--accent-color);
    cursor: pointer;

    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.banner-button:hover,
.banner-button:focus {
    background-color: #188CE8;
}

/* Features */
.features.section {
    padding-bottom: 0;
}
.features-list {
    display: flex;
}
.features-list .item {
    flex-basis: calc((100% - 90px) / 4);
}

.features .tumb {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 270px;
    height: 120px;
    margin-bottom: 30px;

    background-color: var(--button-background-color);
    border-radius: 4px;
}

.features-title {
    margin-bottom: 10px;

    color: var(--secondary-text-color);

    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
}
.features-text {
    line-height: 1.71;
}

/* Functions */
.functions-list {
    display: flex;
}
.functions-list .item {
    flex-basis: calc((100% - 60px) / 3);
}
.functions-img {
    position: relative;
}
.functions-overlay {
    position: absolute;

    width: 100%;
    bottom: 0;
    padding-top: 27px;
    padding-bottom: 27px;

    color: var(--primary-white-color);
    background-color: rgba(47, 48, 58, 0.8);

    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    text-transform: uppercase;
}
.functions-title {
    margin-bottom: 50px;

    color: var(--secondary-text-color);

    font-size: 36px;
    line-height: 1.17;
    text-align: center;
}

/* Team */
.team {
    background-color: var(--button-background-color);
}
.team-list {
    display: flex;
}
.team-list .item {
    flex-basis: calc((100% - 90px) / 4);

    background-color: var(--primary-white-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}
.member {
    padding: 30px 32px;
}
.team-title {
    margin-bottom: 50px;

    color: var(--secondary-text-color);
    
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
}
.team-member {
    margin-bottom: 10px;

    color: var(--secondary-text-color);

    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
}
.team-text {
    margin-bottom: 16px;

    font-size: 16px;
    line-height: 1.19;
    text-align: center;
}
.social-list {
    display: flex;
    gap: 10px;
}
.social-list .link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;

    fill: #afb1b8;

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-list .link:hover,
.social-list .link:focus {
    fill: var(--primary-white-color);
    background-color: var(--accent-color);
}

/* Clients */

.clients-title {
    margin-bottom: 50px;
    
    color: var(--secondary-text-color);
    
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
}

.clients-list {
    display: flex;
}
.clients-list .item {
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    max-width: 170px;

    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-list .item:hover {
    border-color: var(--accent-color);
}
.clients-list .link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 170px;
    height: 92px;

    fill: #afb1b8;

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients-list .link:hover,
.clients-list .link:focus {
    fill: var(--accent-color);
}

/* Footer */

.bottom {
    padding-top: 60px;
    padding-bottom: 60px;
}
.container.footer {
    display: flex;
    align-items: baseline;
}
.logo-footer {
    display: inline-block;
    margin-bottom: 20px;

    color: var(--primary-white-color);
    
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;
}
.bottom {
    background-color: var(--secondary-background-color);
}
.contacts {
    font-style: normal;
    line-height: 1.71;
}
.contacts .item:not(:last-child) {
    margin-bottom: 9px;
}
.contacts .link {
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.link.address {
    color: var(--primary-white-color);
}
.contacts .link:hover,
.contacts .link:focus {
    color: var(--accent-color);
}
.social-links {
    margin-left: 93px;
}
.social-title {
    display: block;
    margin-bottom: 20px;

    font-weight: 700;
    line-height: 1.14;
    text-transform: uppercase;
    
    color: var(--primary-white-color);
}
.social-footer-list {
    display: flex;
    gap: 10px;
}
.social-footer-list .link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;

    fill: var(--primary-white-color);
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-footer-list .link:hover,
.social-footer-list .link:focus {
    background-color: var(--accent-color);
}

/* PORTFOLIO */
.filter-list {
    display: flex;
    justify-content: center;
    margin-bottom: 34px;
    gap: 8px;
}
.button {
    display: inline-block;
    padding: 6px 22px;
    border-radius: 4px;
    border: none;

    color: var(--secondary-text-color);
    background-color: var(--button-background-color);
    cursor: pointer;
    
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button.first {
    padding: 6px 25px;
}
.button:hover,
.button:focus {
    color: var(--primary-white-color);
    background-color: var(--accent-color);

    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
.work-list {
    display: flex;
    flex-wrap: wrap;
    
}
.work-list .item {
    flex-basis: calc((100% - 60px) / 3);

    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.work-list .item:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.work-img {
    position: relative;
    overflow: hidden;
}
.work-overlay {
    position: absolute;

    padding: 63px 24px;
    width: 100%;
    height: 100%;
    transform: translateY(100%);        

    color: var(--primary-white-color);
    background-color: rgba(33, 150, 243, 0.9);
    font-size: 18px;
    line-height: 1.56;

    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.work-list .item:hover .work-overlay {
    transform: translateY(-100%);
}

.work-container {
    padding: 20px 24px;
    border-left: 1px solid #EEEEEE;
    border-right: 1px solid #EEEEEE;
    border-bottom: 1px solid #EEEEEE;
}
.work-link {
    text-decoration: none;
}
.work-title {
    margin-bottom: 4px;

    color: var(--secondary-text-color);
    
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}
.work-text {
    color: var(--primary-text-color);
    
    font-size: 16px;
    line-height: 1.88;
}

/* Backdrop */

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 1;

    background-color: rgba(0, 0, 0, 0.2);

    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}
.backdrop.is-hidden .modal {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.5);
}
.modal {
    position: absolute;
    top: 50%;
    left: 50%;

    padding: 8px;
    width: 528px;
    height: 581px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;

    background-color: var(--primary-white-color);

    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    margin-left: auto;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;

    fill: var(--primary-black-color);
    background-color: var(--primary-white-color);

    cursor: pointer;
}

/* .modal-button {
    display: block;
    padding: 9px 9px 10px 10px;
    max-height: 32px;
    margin-left: auto;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;

    fill: var(--primary-black-color);
    background-color: var(--primary-white-color);

    cursor: pointer;
} */
